html, body {
  margin: 0; 
  height: 100vh;
  width: 100vw;
  background-color: black;
  overflow-x: hidden;
}
#c {
  width: 100%;
  height: 100%;
  /* width: 100%;
  height: 896px; */
}

#mob-prev-modal {
  position: absolute;
  top: 60vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  display: none;
  background-color: white;
  border: 1px solid grey;
  border-radius: 10%;
  padding: 0.5em;
}

#mob-main-modal {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background-color: white;
  border: 1px solid grey;
  border-radius: 10%;
  padding: 0.5em;
}

.info-panel {
 /* color: white; */
 text-align: center;
}

.overlay-logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 7vw;
}

#info-template {
 background-color: #fff;
 color: black;
 text-align: left;
}

.info-card {
 /* min-height: 50%; */
}

.info-card-image-portrait {
 max-width:75%;
 max-height:75%;
 height: auto;
 width:auto;
}

.instructions {
 text-align: left;
}

.instText {
 font-weight: bold;
}

#info {
	position: absolute;
	top: 10px;
	width: 100%;
	text-align: center;
	z-index: 100;
	display:block;
  background-color: white;
}

#startModal {
	text-align: center;
	z-index: 100;
	display: block;
}

#startModalOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 99;
  display: block;
  background-color: white;
  opacity: 0.5;
}

/* Max mobile portrait screen width */
@media screen and (max-width: 414px) {

  /* Scale overlay logo */
  .overlay-logo {
    width: 20vw;
  }

  #mob-prev-modal {

  }
  
}